<div role="form">
  <div class="box-body">
    <field id="name" label="Name:" grid="12 6 4" placeholder="Enter the name" model="vm.billingCycle.name" readonly="vm.tabDelete"></field>
    <field id="month" label="Month:" grid="12 6 4" placeholder="Enter the month" type="number" model="vm.billingCycle.month"
      readonly="vm.tabDelete"></field>
    <field id="year" label="Year:" grid="12 6 4" placeholder="Enter the year" type="number" model="vm.billingCycle.year" readonly="vm.tabDelete"></field>
  </div>
  <div class="box-footer">
    <button ng-if="vm.tabCreate" class="btn btn-primary" ng-click="vm.create()">Insert</button>
    <button ng-if="vm.tabChange" class="btn btn-info" ng-click="vm.change()">Update</button>
    <button ng-if="vm.tabDelete" class="btn btn-danger" ng-click="vm.delete()">Delete</button>
    <button class="btn btn-defaut" ng-click="vm.refresh()">Cancel</button>
  </div>
</div>